@model MongoDbNight.Dtos.ProductDtos.GetByIdProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<br />
<br />
<div class="alert alert-info">Ürün Güncelleme</div>
<form method="post">
    @Html.HiddenFor(x=>x.ProductId)
    <label class="mb-1">Kategori</label>
    <select asp-for="CategoryId" class="form-control mb-2" asp-items="ViewBag.categoryList"></select>
    <label class="mb-1">Ürün Adı</label>
    <input type="text" asp-for="ProductName" class="form-control mb-2" />
    <label class="mb-1">Stok Miktarı</label>
    <input type="text" asp-for="Stock" class="form-control mb-2" />
    <label class="mb-1">Fiyatı</label>
    <input type="text" asp-for="Price" class="form-control mb-2" />


    <button class="btn btn-primary">Kaydet</button>
</form>


