@{
    ViewData["Title"] = "MongoDB";
}

<div class="text-center">
    <h1 class="display-4">MongoDB & Asp.NET Core</h1>
    <p>MongoDB kullanmayı öğrenmek için Asp.NET Core ile hazırlanmış mini bir product , category uygulaması</p>
</div>
