@model List<MongoDbNight.Dtos.OrderDtos.ResultOrderDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="alert alert-info">Tüm Siparişler</div>
<table class="table">
    <thead class="table-light">
        <tr>
            <th>#</th>
            <th>Müşteri</th>
            <th>İşlem Tarihi</th>
            <th>Toplam Ücret</th>
            <th>Detay</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.OrderId</th>
                <th>@item.CustomerName</th>
                <td>@item.OrderDate</td>
                <td>@item.TotalAmount</td>
                <td><a href="/OrderDetail/OrderDetailList/@item.OrderId" class="btn btn-info">İncele</a></td>
                <td><a href="/Order/UpdateOrder/@item.OrderId" class="btn btn-warning">Düzenle</a></td>
                <td><a href="/Order/DeleteOrder/@item.OrderId" class="btn btn-danger">Sil</a></td>
            </tr>
        }


    </tbody>
</table>

